/* Global Styles */
body {
        font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
        color: #FFFFFF;
        background-color: #282828;
}
h1 {
        color: #0099ff;
}   

/* Link Styles */

.redLink:link {
        color: #FFFFFF;
        text-decoration:none;
}
.redLink:visited {
        color: #FFFFFF;
        text-decoration:none;
}
.redLink:hover {
        color: #F37575;
        text-decoration:none;
}
.redLink:active {
        color: #FFFFFF;
        text-decoration: none;
}
/* Button Styles */
.blueButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.blueButton:active {
	position:relative;
	top:1px;
}

.redButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.redButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.redButton:active {
	position:relative;
	top:1px;
}
