{% extends "base.html" %}

{% block title %}Add Card{% endblock %}

{% block content %}
    <h1>Add a new card</h1>
    <form method="post">
        <p>
            <label for="question">Question</label>
            <input type="text" id="question" name="question" placeholder="Your Question..">
        </p>
        <p>
            <label for="answer">Answer</label>
            <input type="text" id="answer" name="answer" placeholder="Your Answer..">
        </p>
        <button type="submit" class="blueButton">Create</button>
    </form>
{% endblock %}
