{% extends "base.html" %}

{% block title %} Remove Card {% endblock %}

{% block content %}
    <h1>Remove Flash Card</h1>
    Question: {{ card.question }} <br>
    Answer:   {{ card.answer }}

    <h2>Are you sure</h2>
    <p>
        <form method="post">
            <button type="submit" class="redButton">
                Yes
            </button>
        </form>
    </p>
    <p>
        <form action={{ url_for('welcome') }}>
            <button type="submit" class="blueButton">
                No
            </button>
        </form>
    </p>
{% endblock %}
