{% extends "base.html" %} 

{% block title %}Welcome{% endblock %}

{% block content %}   
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a target="_blank" rel="noopener noreferrer" href="https://pluralsight.com" class="redLink">Pluralsight</a>.
    </p>
    <a href="{{ url_for('add_card') }}" class=blueButton>Add New Card</a>
    <h2>Flash Cards</h2>
    <ol>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}" class="redLink">
                    {{ card.question }}
                </a>
            </li>
        {% endfor %}
     </ol>
{% endblock %}
